### 1. Discuss string slicing and provide examples

#### Example of string slicing :

In [2]:
a="Hello World"
a[2::] # Here the result is the string sliced from  2 no. index to last index and step is increment by 1

'llo World'

In [6]:
a="Hello world"
a[::] # here the string sliced whole string that is given

'Hello world'

In [7]:
a="Hello  world"
a[-1::-1] # Here i sliced the given string as reverse

'dlrow  olleH'

In [10]:
a="hello world"
a[::2]# Here i sliced the give string as increment by 2( means escape one character)

'hlowrd'

### 2. Explain the key features of lists in Python.

In [14]:
# Ordered Collection
list=[1,2,3]
list

[1, 2, 3]

In [15]:
# Mutable
list.append(4) # add element at the end of list
list

[1, 2, 3, 4]

In [17]:
# Heterogeneous
list1=["Kiran",1,1.2,True,2+3j]
print(list1)
print(type(list1))

['Kiran', 1, 1.2, True, (2+3j)]
<class 'list'>

In [23]:
#Dynamic Size
list2=[1,2,3]
print(list2)
print("Before append the length of the given list is:", len(list2))
list2.append(4)
print(list2)
print("After append the length of the given list is:", len(list2))

[1, 2, 3]
Before append the length of the given list is: 3
[1, 2, 3, 4]
After append the length of the given list is: 4

In [25]:
# Supports Indexing and Slicing :
list2[1]

2

In [26]:
list2[1:]

[2, 3, 4]

### 3. Describe how to access, modify, and delete elements in a list with examples.

In [9]:
# (i) We can access elements from a list using indexing,slicing methods.
# Access using slicing examole below :
a=[1,2,3,"Kiran","Kumar","Koley"]
print("Access all list elements: ", a[::]) # Access all list element using slicing methods
print("Access index no 1 to 4 :", a[1:5])

Access all list elements:  [1, 2, 3, 'Kiran', 'Kumar', 'Koley']
Access index no 1 to 4 : [2, 3, 'Kiran', 'Kumar']

In [10]:
# Access using indexing examole below:
print(a[5])
print(a[2])

Koley
3

In [17]:
# (ii) We can modify element in a list by accessing new value to a specific index or slice of the list.
a[3]="Rohan"
a

[98, 99, 3, 'Rohan', 'Kumar', 'Koley', 100, 456, 34, 56]

In [18]:
a[0:2]=[98,99]
a

[98, 99, 3, 'Rohan', 'Kumar', 'Koley', 100, 456, 34, 56]

In [19]:
a.append(100)
a

[98, 99, 3, 'Rohan', 'Kumar', 'Koley', 100, 456, 34, 56, 100]

In [20]:
b=(456,34,56)
a.extend(b)
a

[98, 99, 3, 'Rohan', 'Kumar', 'Koley', 100, 456, 34, 56, 100, 456, 34, 56]

In [21]:
# Deleting element from a list using several methods :
print(a)
del a[1]
a

[98, 99, 3, 'Rohan', 'Kumar', 'Koley', 100, 456, 34, 56, 100, 456, 34, 56]

[98, 3, 'Rohan', 'Kumar', 'Koley', 100, 456, 34, 56, 100, 456, 34, 56]

In [22]:
a.remove("Rohan")
a

[98, 3, 'Kumar', 'Koley', 100, 456, 34, 56, 100, 456, 34, 56]

In [28]:
n=[98, 3, 'Kumar', 'Koley', 100, 456, 34, 56, 100, 456, 34, 56]
n.pop()# remove last elemrnt in a list by default
n

[98, 3, 'Kumar', 'Koley', 100, 456, 34, 56, 100, 456, 34]

### 5. Describe the key features of sets and provide examples of their use.

In [6]:
# Unorder collection
s={1,"kiran",9,5}
s #The output is unordered.

{1, 5, 9, 'kiran'}

In [8]:
# Unique Elements
# Ser automatically delete duplicate element.
s={1,22,22,3}
s

{1, 3, 22}

In [11]:
# Mutable
my_set = {1, 2, 3}
print("This is given set:", my_set)
my_set.add(4) 
print("After adding element in a set:", my_set)
my_set.remove(2)  
print("After removing an element in a set:", my_set)

This is given set: {1, 2, 3}
After adding element in a set: {1, 2, 3, 4}
After removing an element in a set: {1, 3, 4}

In [12]:
# Unindexed
# bellow example throw a type error because it not support indexing
my_set[1]

TypeError: 'set' object is not subscriptable

In [15]:
# Set Operations
set1={1,2,3}
set2={3,5,6}

print("Union: ",set1|set2)
print("Intersection: ",set1 & set2)
print("Difference: ",set1-set2)
print("Symmtric_difference: ",set1^set2)

Union:  {1, 2, 3, 5, 6}
Intersection:  {3}
Difference:  {1, 2}
Symmtric_difference:  {1, 2, 5, 6}

### 6. Discuss the use cases of tuples and sets in Python programming.

In [19]:
# Tuple use cases
# Immutable Data Collections
coordinates = (10.0, 20.0)  # A fixed pair of coordinates
color = (255, 0, 0)  # A fixed RGB color value (red)

In [20]:
#Using as Dictionary Keys
c = {
    ("New York", "USA"): 8175133,
    ("Los Angeles", "USA"): 3792621
}
print(c[("New York", "USA")])

8175133

In [21]:
# Ensuring Data Integrity : 
constants = (3.14159, 2.71828)  # Pi and Euler's number

In [22]:
# Sets use cases:
# Removing Duplicates from a Collection:
a = [1, 2, 2, 3, 4, 4, 5]
unique_items = set(a)
print(unique_items)

{1, 2, 3, 4, 5}

In [23]:
# Mathematical Set Operations :
set1={1,2,3}
set2={3,5,6}

print("Union: ",set1|set2)
print("Intersection: ",set1 & set2)
print("Difference: ",set1-set2)
print("Symmtric_difference: ",set1^set2)

Union:  {1, 2, 3, 5, 6}
Intersection:  {3}
Difference:  {1, 2}
Symmtric_difference:  {1, 2, 5, 6}

In [24]:
# Filtering Unique Data : 
logs = ["error", "info", "warning", "error", "debug", "info"]
unique_logs = set(logs)
print(unique_logs)

{'warning', 'debug', 'error', 'info'}

### 7. Describe how to add, modify, and delete items in a dictionary with examples.

In [26]:
# Adding items to a dictionary
dict={"Kiran": 21,"Rohan":22} # This is a dictionary
dict["Sudip"]=23 # Adding key & value in previously created dictionary 
dict

{'Kiran': 21, 'Rohan': 22, 'Sudip': 23}

In [27]:
# Modifying Items in a Dictionary
# Modify previously created dictionaries
dict["Kiran"]=45
dict

{'Kiran': 45, 'Rohan': 22, 'Sudip': 23}

In [36]:
#Deleting Items from a Dictionary
# there are several methods to delete
dict1={"Kiran": 21,"Rohan":22, "karan":89,"Shankha":100}
print("This is orginal dict",dict1)
print("After deleting")
del dict1["Kiran"] # using del , deleting "Kiran" key.
dict1

This is orginal dict {'Kiran': 21, 'Rohan': 22, 'karan': 89, 'Shankha': 100}
After deleting

{'Rohan': 22, 'karan': 89, 'Shankha': 100}

In [37]:
dict1.pop("Shankha")# deleting using pop()
dict1

{'Rohan': 22, 'karan': 89}

In [38]:
# deleting using clear()
dict1.clear() # deleting all dictionary element
dict1

{}

### 8. - Discuss the importance of dictionary keys being immutable and provide examples.

In [2]:
#Immutable Keys (Allowed)
b = {
    1: "one", 
    "name": "Alice",  
    (10, 20): "coordinates" 
}
print(b[(10, 20)])

coordinates

In [4]:
# Mutable Keys (Not Allowed)
my_dict = {}
key = [1, 2, 3]
my_dict[key] = "list as a key"  # This will raise a TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

In [ ]:
# Why Mutability is a Problem
my_dict = {}
key = [1, 2, 3]
# Imagine this was allowed:
# my_dict[key] = "value"

key.append(4)
# Now, if the dictionary tried to access the key, it wouldn't find the correct entry,
# because the hash of the list has changed.
# This would break the dictionary's internal structure and lead to errors.