### 1. Explain the key features of python that make it a popular choice for programming?

Ans - There are several features present in python that's make it popular . let's discuss about features-
1. Readability and Simplicity: Its syntax is clean and easy to understand, which makes it accessible for beginners.
2. Cross-Platform Compatibility: Python runs on various operating systems, enhancing its utility.
3. Extremely Dynamic: Python is the most dynamic language in today. That means the type of variable is determined during runtime or during setup. Because of this feature we don't have to define the type of variable.
4. Extensive array of libraries: python incluing a large number of libraries That may be imported at any time and used it in a specific program right away.
5. Multipurpose: Python is a versatile programming language that can be used for multiple purposes.
6. Machine Learning: In the world of technology, machine learning has a bright future , python is with out a doubt python is the best language for machine learning.

### 2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program.

Ans.
Python Keywords are some predefined and reserved words in Python that have special meanings. Keywords are used to define the syntax of the coding. The keyword cannot be used as an identifier, function, or variable name. All the keywords in Python are written in lowercase except True and False. Example of keywords are mentioned in below.

In [2]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [28]:
# Example : How keywords are used in a program. Here i used if,elif,else keywords.
a=int(input("Enter a number 1 to 50: "))
if a<=50 and a>1:
    if a>=40:
        print("The number is greter than or equai to 40")
    elif a>=20:
        print("The number is greter than or equai to 20")
    else:
        print("The number is greter than or equai to 1")
else:
    print("Please enter the number between 1 to 50")

Enter a number 1 to 50:  35

The number is greter than or equai to 20

### 3. Compare and contrast mutable and immutable objects in Python with examples.

Mutable Object: 1. Can be modified after creation.
                2. Changes made in place.
                3. Not hashable.
                4. Example :Lists, Dictionaries, Sets.
Immutable Object: 1. Cannot be modified after creation.
                 2. Changes result in new objects.
                 3. Hashable
                 4. Example : Tuples, strings, integers, floats.

Contrast:

1. Modification: Mutable object allow in place modification but it requires carefull handelling. on the other hand Immutable object maintain consistecy and predictibility of the data because this type of data can't change.

2. Memory usages: In mutable object after modifing data it does not create new object so, it save the memory space. on the other hand immutable object after modifying data it create new object so, it increasing the memory space.

3. Thread safety : Immutable objects are inherently thread-safe because their state cannot change. on the other hand Mutable object need another mechanism to ensure thread safety.

Example of Mutable object

In [35]:
# Example of mutable object 
a=[1,2,3]
print("List is: ",a)
a[1]=5
print("After modify list: ",a)
a.append(6)
print("After add element in list:",a)

List is:  [1, 2, 3]
After modify list:  [1, 5, 3]
After add element in list: [1, 5, 3, 6]

In [42]:
b={1,2,4}
b.add(5)
print(b)
# In case of set, it can't support item assignment. like this b[1]=5

{1, 2, 4, 5}

Example of Immutable object

In [45]:
# Example of immutable object , We can't modify data element
c=(1,2,3)
c[2]=5 # It can raise a type error
print(c)

TypeError: 'tuple' object does not support item assignment

 * We can add element in a new tupple object where we can concatinate two tuple. Example bellow..

In [44]:
tup=(1,2,3)
tup1=(4,5)
new_tup=(tup+tup1)
new_tup

(1, 2, 3, 4, 5)

* There is present another way we can add, modify , delete every thing in immutable object. At first we convert the immutable object to mutable object then we work of this After that we again convert it in immutable object. Example bellow...

In [48]:
#At first this is now tuple
a=(1,2,3)
print("This is tuple: ",a)
# convering tuple to list
b=list(a)
type(b)
print("After convert in list: ",b)
b[1]=5
print("After modifieng 1 no. index: ",b)
b.append(6)# Adding element
print("After adding element: ",b)
# And finnaly convert it in tuple
c=tuple(b)
print("This is tuple now:",c)

This is tuple:  (1, 2, 3)
After convert in list:  [1, 2, 3]
After modifieng 1 no. index:  [1, 5, 3]
After adding element:  [1, 5, 3, 6]
This is tuple now: (1, 5, 3, 6)

### 4. Discuss the different types of operators in Python and provide examples of how they are used.

Ans - 
There are different types operator present in python. let's discuss about them with example..

i. Arithmatic operators: +,-,*,/,//,**,%

In [1]:
a=11
b=5
print("Addition: ",a+b)
print("Subtraction: ",a-b)
print("Multiplication: ",a*b)
print("Divison: ",a/b)
print("Floor division: ",a//b)
print("Exponents: ",a**b)
print("Modulus: ",a%b)

Addition:  16
Subtraction:  6
Multiplication:  55
Divison:  2.2
Floor division:  2
Exponents:  161051
Modulus:  1

ii. Assignment operators: =,+=,-+,*=,/=

In [3]:
a=6 #"=" is used for assign purpose, here assign a value in a variable named a
a+=2 #Thos means a=a+2
print(a) 
a-=2 # Thos means a=a-2
print(a)

8
6

iii. Comparison Operators:  <, >, >=, <=, ==, !=

In [7]:
a=10
b=15
print(a>b)
print(a<b)
print(a==b)
print(a>=b)
print(a<=b)
print(a!=b)

False
True
False
False
True
True

iv. Logical operators: and , or, not

In [10]:
x=10
y=20
print(x==10 and x<y and x==y) # logical and
print(x==10 or x<y or x==y)# logical or
print(not x!=10) # Logical not

False
True
True

v. Membership operator: in , not in

In [11]:
a="Hello"
print("h" in a)
print("h" not in a)

False
True

vi. identify operator: is , is not

In [16]:
x=10
y=10
print(x is y)
print(x is not y)

True
False

vii. Bitwise operators: and(&),or(|), xor(^),  bitwise left shift(<<), Bitwise right shift(>>)

In [20]:
a=12
b=5
print("And:",a&b)
print("or:",a|b)
print("xor:",a^b)
print("Rght shift:",a>>2)
print("Left shift:",a<<2)

And: 4
or: 13
xor: 9
Rght shift: 3
Left shift: 48

### 5. Explain the concept of type casting in Python with examples.

Ans.
Type casting method is a method in python where we can convert the datatype to another data type, mainly two type of type casting present: 1. Implicit type casting
                 2. Explicit type casting

In [35]:
a=123
b=float(a)
print("Convert integer to float type: ",b,type(b))

Convert integer to float type:  123.0 <class 'float'>

In [42]:
# conver integer to string data type
a=132
b=str(a)
b

'132'

In [43]:
type(b)

str

i. Implicit type casting: When we create a variable python understand the data type.

In [46]:
# Example of implicit
a="Kiran"
type(a)

str

ii. Explicit Type casting : When we convet datatype using inbuild function.

In [48]:
a=(1,2,3)
print(a)
print(type(a))
b=list(a)
print("After convert tuple to list ",b)
print(type(b))

(1, 2, 3)
<class 'tuple'>
After convert tuple to list  [1, 2, 3]
<class 'list'>

### 6. How do conditional statements work in Python? Illustrate with examples

Ans.
The concept of conditional statement is that if the condition is true then if block statements is executed, when condition is false then else block statements is executed.
There are some types of Conditional statements are:
i. if statement.
ii. if else statement.
iii. if elif else statement.
iv. Nested if else statement.

The example of conditional statement mentioned bellow

In [49]:
# if statement
a=10
if a>5:
    print("a is greter than 5")

a is greter than 5

In [52]:
#if else statement
a=int(input("Enter the number:"))
if a>0:
    print("It is positive number.")
else:
    print("It is not positive number.")

Enter the number: -2

It is not positive number.

In [54]:
# if elif else statement
grade= 5.5
if grade>=7.0 and grade<=10.0:
    print("First Division")
elif grade>=5.0 and grade<=7.0:
    print("Second Division")
else:
    print("Third Division")

Second Division

In [56]:
# nested if else statement
num = 0

if num > 0:
    print("The number is positive.")
else:
    if num < 0:
        print("The number is negative.")
    else:
        print("The number is zero.")

The number is zero.

### 7. Describe the different types of loops in Python and their use cases with examples.

Ans.
In Python, loops are employed to repeat a sequence of actions or code until a specific condition is fulfilled. 
Python offers two primary types of loops: for loops and while loops. “for” loops are used for iterating over a sequence of elements, while “while” loops are used for executing code until a specified condition becomes False.
Example of loops..below

In [59]:
# Create star pattern using for loop
for i in range(4):
    for j in range(3):
        print("*", end=" ")
    print()

* * *
* * *
* * *
* * *

In [60]:
# create star pattern using while loop
row=1
while row<=4:
    col=1
    while col<=3:
        print("*", end=" ")
        col=col+1
    print()
    row=row+1

* * *
* * *
* * *
* * *

In [64]:
# print odd no up to 100
for i in range(1,101):
    if i%2==0:
        continue
    else:
        print(i)
else:
    print("completed")

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
completed